.references-container {
  text-align: center;
  border-radius: 32px;
  max-width: 900px;
  margin: 3rem auto;
  position: left;
  margin-bottom: 80px;

  
}

.references-toggle {
  background: none;
  border: 2px solid var(--color-light-blue);
  color: var(--color-light-blue);
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  border-radius: 32px;
  font-size: 1;
}

.references-toggle:hover {
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

.references-list {
  margin-top: 1.5rem;
  text-align: left;
  max-width: 800px;
  margin-inline: auto;
  font-size: 0.95rem;
  line-height: 1.6;
}

.references-list a {
  color: #ffcc00;
  text-decoration: underline;
}

